@if (signalrService.orderSignal(); as order) {
  <section class="bg-white py-16">
    <div class="mx-auto max-w-2xl px-4">
      <h2 class="font-semibold text-2xl mb-2">Mulțumim pentru comanda ta (de test)!</h2>
      <p class="text-gray-500 mb-8">
        Comanda ta <span class="font-medium">#{{ order.id }}</span> nu va fi procesată niciodată, deoarece acesta este un magazin de test. Nu te vom notifica prin email odată ce comanda nu a fost expediată.
      </p>
      <div class="space-y-2 rounded-lg border border-gray-100 bg-gray-50 p-6 mb-8">
        <dl class="flex items-center justify-between gap-4">
          <dt class="font-normal text-gray-500">Dată</dt>
          <dd class="font-medium text-gray-900 text-end">
            {{ order.orderDate | date: 'medium' }}
          </dd>
        </dl>
        <dl class="flex items-center justify-between gap-4">
          <dt class="font-normal text-gray-500">Metodă de plată</dt>
          <dd class="font-medium text-gray-900 text-end">
            {{ order.paymentSummary | paymentCard }}
          </dd>
        </dl>
        <dl class="flex items-center justify-between gap-4">
          <dt class="font-normal text-gray-500">Adresă</dt>
          <dd class="font-medium text-gray-900 text-end">
            {{ order.shippingAddress | address }}
          </dd>
        </dl>
        <dl class="flex items-center justify-between gap-4">
          <dt class="font-normal text-gray-500">Sumă</dt>
          <dd class="font-medium text-gray-900 text-end">{{ order.total | currency }}</dd>
        </dl>
      </div>
      <div class="flex items-center space-x-4">
        <button routerLink="/orders/{{ order.id }}" mat-flat-button>Vezi comanda</button>
        <button routerLink="/shop" mat-stroked-button>Continuă cumpărăturile</button>
      </div>
    </div>
  </section>
} @else {
  <section class="bg-white py-16">
    <div class="mx-auto max-w-2xl px-4">
      <h2 class="font-semibold text-2xl mb-2">Se procesează comanda, te rugăm să aștepți</h2>

      <div class="space-y-2 rounded-lg border border-gray-100 bg-gray-50 p-6 mb-8">
        <div class="flex flex-col justify-center items-center">
          <mat-spinner diameter="30"></mat-spinner>
          <p class="text-xl">Se încarcă comanda...</p>
          <span>Plata ta a fost primită, se creează comanda</span>
        </div>
      </div>

      <div class="flex items-center space-x-4">
        <button routerLink="/shop" mat-stroked-button>Continuă cumpărăturile</button>
      </div>
    </div>
  </section>
}
